
html { width: 100%; height: 100%; }
body { width: 100%; height: 100%; margin: 15; }
div.blocka {
  float: left;
  width: 70%;
}

table.example{
  width:80%;/*表の幅*/
  margin-left: 20;
  border:1px #c0c0c0 solid;/*大枠の境界線*/
  border-collapse: collapse;
  front-size:80%;
}
table.example caption{
  padding-bottom: 5px;
}

table.example th,
table.example td{
  /*width:20%(セルの幅を均等にする場合)*/
  padding: 6px 8px;/*セルの（上下、左右）*/
  border: 1px #c0c0c0 solid;/*セルの境界線*/
}
table.example colgroup.item{
  background-color: #fffce7;
}
table.example colgroup.data{
  background-color: #ffffff;
}
table.example thead th{
  background-color: #deefff;
}
select{
  font-size: 150%;
}
.center {
   text-align: center;
}
