<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <title>Document</title>
    </head>
    <style type="text/css">
        <!-- 

        .table2 { 
            width:100%;
            border-collapse: collapse; /* 枠線の表示方法 */ 
            border: 1px #1C79C6 solid; /* テーブル全体の枠線（太さ・色・スタイル） */ 
            background-color: #FFFFFF; /* 背景色 */ 
        } 

        .table2 TD { 
            border: 1px #1C79C6 solid; /* セルの枠線（太さ・色・スタイル） */
        } 

        --> 
    </style>
    <body>
        <Div Align="center">
            <FONT SIZE=5>
                <b><p>診断書</p></b>
            </FONT>
        </Div>
        <Div Align="right">
            <script>
                var someJavaScriptVar = "{{ start_at }}";
                document.write(someJavaScriptVar + " 開始")
            </script>
        </Div>
        <Div Align="left">
            場所：{{ address }}
        </Div>
        <Div Align="center">
            <br><br>
            以下の問診結果になりました<br>

            <script type="text/javascript">
                var someJavaScriptVar = "{{ message }}";
            </script>

            <table CLASS="table2">

                <script type="text/javascript">
                    var num = "{{ num }}"
                    var content = "{{ contents }}"
                    contents = content.split(":")
                    for (var i = 0; i < contents.length-1; i++) {
                        var question = contents[i].split(",")
                        document.write("<tr>");
                        document.write("<td>" + question[0] + "</td>");
                        document.write("<td>" + question[1] + "</td>");
                        document.write("</tr>");
                    }
                </script>
                <!--
                <tr>
                    <td>意識はありますか</td>
                    <td>はい</td>
                </tr>
                <tr>
                    <td>出血はありますか</td>
                    <td>いいえ</td>
                </tr>
                <tr>
                    <td>のどは痛いですか</td>
                    <td>わからない</td>
                </tr>
                -->
            </table>
            <br><br><br>
            以下の応急手当を行いました
            <table CLASS="table2">
                <script type="text/javascript">

                    for (var i = 0; i < 10; i++) {
                        document.write("<tr>");
                        document.write("<td>胸骨圧迫</td>");
                        document.write("<td>10秒</td>");
                        document.write("</tr>");
                    }
                </script>
            </table>
        </Div>
    </body>
</html>
