<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <style type="text/css">
        <!-- 

        .table2 { 
            width: 400px; /* テーブルの横幅 */ 
            border-collapse: collapse; /* 枠線の表示方法 */ 
            border: 1px #1C79C6 solid; /* テーブル全体の枠線（太さ・色・スタイル） */ 
            background-color: #FFFFFF; /* 背景色 */ 
        } 

        .table2 TD { 
            border: 1px #1C79C6 solid; /* セルの枠線（太さ・色・スタイル） */
        } 

        --> 
    </style>
    <body>
        <Div Align="center"><p>診断書</p></Div>

        <table CLASS="table2">
            <tr>
                <td>りんご</td>
                <td>甘酸っぱい</td>
                <td>おおむね赤</td>
            </tr>
            <tr>
                <td>なつみかん</td>
                <td>かなり酸っぱいと思う</td>
                <td>たいてい黄色</td>
            </tr>
        </table>
    </body>
</html>
