<html>
    <head>
        <meta charset="utf-8">
        <title>Q&Aホーム</title>
        <link rel="shortcut icon" href="static/img/QA-icon/icon.ico" />
        <style type="text/css">
            .margin {
              margin-top:100px;
              margin-left:20px;
            }
        </style>
    </head>
    <body>
        <div class="margin">
            <img src="static/img/QA-icon/icon.png" width="100" height="100"> <br>
            <a href="map" target="_blank">マップ画面へ</a> <br>
            <a href="reset" target="_blank">マーカーリセット</a>
        </div>
    </body>
</html>