<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel="stylesheet" href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" /-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css" />
        <style>
            html { width: 100%; height: 100%; }
            body { width: 100%; height: 100%; margin: 0; }
            #map { width: 70%; height: 70%; }
            .leaflet-marker-icon-color-blue   { -webkit-filter: hue-rotate( 30deg); filter: hue-rotate( 30deg); }
            .leaflet-marker-icon-color-pink   { -webkit-filter: hue-rotate( 90deg); filter: hue-rotate( 90deg); }
            .leaflet-marker-icon-color-red    { -webkit-filter: hue-rotate(150deg); filter: hue-rotate(150deg); }
            .leaflet-marker-icon-color-yellow { -webkit-filter: hue-rotate(210deg); filter: hue-rotate(210deg); }
            .leaflet-marker-icon-color-green  { -webkit-filter: hue-rotate(270deg); filter: hue-rotate(270deg); }
            .leaflet-marker-icon-color-alua   { -webkit-filter: hue-rotate(330deg); filter: hue-rotate(330deg); }
        </style>
    </head>

    <body>
        <div id="map"></div>
        <button id="buttonBackToCenter">back to center</button>
        <p id="interviewinfo">問診情報</p>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>
            var mapCenterLatLng = ['{{ latlng[0] }}', '{{ latlng[1] }}'];


            //地図タイルの設定
            var map = L.map('map')
            .setView(
                mapCenterLatLng,
                13
            ).on('click', function(e) {
                var c = e.latlng;
                alert(c.lat+"/"+c.lng);
            });
            L.tileLayer(
                'https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', 
                { attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors' }
            ).addTo(map);

            //markerとpopupの設定
            var marker = L.marker(
                mapCenterLatLng,
                { title: "marker-title" }
            )
            .addTo(map)
            .bindPopup("<h3>Green marker</h3>")
            .openPopup()
            .on("click", function(){
                alert('marker is clicked');
            });

            //iconの要素にClassを追加
            L.DomUtil.addClass( marker._icon, 'leaflet-marker-icon-color-green' );

            function removeAllMarkers(){
                var marker3 = L.marker(
                    [35.3748331, 130.9574997],
                    { title: "marker-title" }
                )
                .addTo(map)
                .bindPopup("<h3>other Red marker</h3>")
                .openPopup();
                L.DomUtil.addClass( marker3._icon, 'leaflet-marker-icon-color-red' );
            }

            function backToCenter(){
                map.panTo(mapCenterLatLng);
            }

            function latlng2list(latlng){
                var latlng_list = latlng.split("/");
                var lat = Number(latlng_list[0]);
                var lng = Number(latlng_list[1]);
                return [lat, lng];
            }
     
            var table = document.createElement( 'table' );

            document.querySelector('#buttonBackToCenter').onclick=function(){ backToCenter() };

            var interviews = new Array();
            var interviewmessages = new Array();


            //function add_marker(msg){
            function add_marker(patient_id, state, latlng){
                var icon = "";
                switch (state){
                    case 1:
                        icon = 'leaflet-marker-icon-color-blue';
                        break;
                    case 2:
                        icon = 'leaflet-marker-icon-color-green';
                        break;
                    case 3:
                        icon = 'leaflet-marker-icon-color-red';
                        break;
                }
                var marker = L.marker(
                    latlng2list(latlng),
                    { title: "marker-title" }
                )
                .addTo(map)
                .bindPopup("<h3>PATIENT_ID" + patient_id + "\n" +  latlng + "</h3>")
                .on("click", function(){
                    alert("marker is clicked");
                    $("#interviewinfo").text(String(patient_id));
                });
                L.DomUtil.addClass( marker._icon, icon );

                interviews[patient_id] = marker
                interviewmessages[patient_id] = {"patient_id":patient_id, "state":state, "latlng":latlng}
            }

            function delete_marker(msg){
                var marker = interviews[msg.patient_id]
                map.removeLayer(marker);
            }

            // add marker when it opens
            {% for marker in markers %}
                add_marker({{ marker.patient_id }}, {{ marker.state }}, '{{ marker.latlng }}')
            {% endfor %}

            namespace = "/test"
            var socket = io.connect('//' + document.domain + ':' + location.port + namespace);

            socket.on('add new marker', function(msg) {
                add_marker(
                    msg.patient_id,
                    msg.state,
                    msg.latlng
                )
            });

            socket.on('delete a marker', function(msg) {
                delete_marker(msg)
            });

            socket.on('change the state', function(new_msg) {
                delete_marker(new_msg)
                msg = interviewmessages[new_msg.patient_id]
                add_marker(
                    msg.patient_id,
                    new_msg.state,
                    msg.latlng
                )
            });

            socket.on('delete all markers', function(msgs){
                for(var i = 0; i < msgs.patient_ids.length; i++){
                    var msg = msgs.patient_ids[i];
                    delete_marker(msg)
                }
            });
            

        </script>
    </body>
</html>